<!DOCTYPE html>
<html>
  <head>
    <title>Searchie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Searchie!</span>
    </nav>
    <br/>
    <br/>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
